@model IEnumerable<Web_Front_Leidy.Models.CITY>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPCTION)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCTION)
            </td>

            <td>
                @Html.ActionLink("Actualizar", "Edit", new { id = item.CODE })
            </td>
            <td>
                @Html.ActionLink("Seleccionar", "Delete", new { id = item.CODE })
            </td>
        </tr>
        }
    </tbody>
</table>
